* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.hide {
  position: absolute !important;
  opacity: 0 !important;
  visibility: hidden !important;
  left: 10000px !important;
  pointer-events: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  padding: 0.5rem 0.75rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.no-result {
  color: red;
}

header {
  padding: 1rem 0;
  background: teal;
}
header *:not(button) {
  color: #fff;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header button {
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.authModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.authModal button {
  padding: 0.5rem;
  background-color: teal;
  color: #fff;
  border-radius: 0.25rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  align-items: center;
  justify-content: center;
}
.modal.active {
  display: flex;
}
.modal::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.modal__close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid red;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: red;
  line-height: 1;
  border-radius: 0.25rem;
}
.modal__body {
  background-color: #fff;
  padding: 2.5rem 2rem 2rem 2rem;
  border-radius: 0.25rem;
  cursor: auto;
  position: relative;
}

.create-visit {
  position: absolute;
  margin: 0 auto;
  z-index: 999;
  top: 65px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 420px;
  background: linear-gradient(to top, rgb(190, 204, 204), #f1e6e6);
  border-radius: 4px;
  border-top-right-radius: 40px;
  border: 2px solid teal;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
}
.create-visit__container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.create-visit__title {
  color: teal;
  font-size: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
.create-visit__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 370px;
  row-gap: 10px;
  color: teal;
}
.create-visit__doctor-type {
  width: 100%;
  border: 2px solid #5f9ea0;
  color: #23637f;
  outline: 0;
  box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
  border-radius: 6px;
  height: 30px;
  padding: 4px;
}
.create-visit__doctors {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 370px;
}
.create-visit__purpose, .create-visit__description, .create-visit__client-info {
  font-weight: 700;
  text-align: center;
}
.create-visit__purpose-input {
  width: 100%;
  border: 2px solid #5f9ea0;
  color: #23637f;
  outline: 0;
  box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
  border-radius: 6px;
  height: 30px;
  padding: 4px;
}
.create-visit__purpose-input:focus {
  border: 2px solid #23637f;
}
.create-visit__priority {
  display: flex;
  justify-content: space-between;
  color: rgb(12, 49, 49);
}
.create-visit__urgency-select, .create-visit__status-select {
  border: 2px solid #5f9ea0;
  color: #23637f;
  outline: 0;
  box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
  border-radius: 6px;
  height: 30px;
  padding: 4px;
}
.create-visit__client-info-input {
  width: 100%;
  border: 2px solid #5f9ea0;
  color: #23637f;
  outline: 0;
  box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
  border-radius: 6px;
  height: 30px;
  padding: 4px;
}
.create-visit__client-info-input:focus {
  border: 2px solid #23637f;
}
.create-visit__button-submit {
  background: linear-gradient(to top, teal, #bb9e9e);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: whitesmoke;
  border: 2px solid #23637f;
  text-transform: uppercase;
  transition: 0.7s;
}
.create-visit__button-submit:hover {
  color: black;
}
.create-visit__button-close {
  border: 2px solid #5f9ea0;
  color: rgb(236, 232, 225);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: teal;
  position: absolute;
  font-size: 25px;
  top: 20px;
  right: 30px;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.create-visit__button-close:hover {
  background-color: rgb(18, 156, 156);
  transform: rotate(230deg);
}
.create-visit .create-visit__age-label,
.create-visit .create-visit__date-label,
.create-visit .create-visit__pressure-label,
.create-visit .create-visit__index-label,
.create-visit .create-visit__diseases-label {
  font-weight: 700;
  text-align: center;
  padding-right: 10px;
}
.create-visit .create-visit__age-input,
.create-visit .create-visit__date-input,
.create-visit .create-visit__pressure-input,
.create-visit .create-visit__index-input,
.create-visit .create-visit__diseases-input {
  border: 2px solid #5f9ea0;
  color: #23637f;
  outline: 0;
  box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
  border-radius: 6px;
  height: 30px;
  width: 28%;
  padding: 4px;
  margin-bottom: 10px;
}
.create-visit .create-visit__diseases-input {
  width: 60%;
}

.error {
  border-color: red !important;
}

#card-list {
  list-style: none;
  margin: 0;
  padding: 40px 0 0;
  font-family: sans-serif;
}

.dropdown-edit {
  position: relative;
}
.dropdown-edit .dropdown-btn {
  background-color: #008080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.dropdown-edit .dropdown-list {
  transition: 0.25s;
  opacity: 0;
  transform: translateX(-50%) scale(0);
  position: absolute;
  top: -50px;
  left: 50%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
.dropdown-edit .dropdown-list.show {
  opacity: 1;
  transform: translateX(-50%) scale(100%);
  top: 45px;
}
.dropdown-edit .dropdown-list a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}
.dropdown-edit .dropdown-list a:hover {
  background-color: #5dd0d0;
  color: #fff;
}

.card-visit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid #F1F1F1;
  margin-bottom: 10px;
  padding: 30px 10px;
  background-color: #fff;
  transition: 0.25s;
}
.card-visit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-visit-body {
  display: none;
}
.card-visit-body-wrapper {
  padding-top: 1rem;
}
.card-visit-body * {
  color: #333;
}
.card-visit:hover {
  background-color: #F8F8F8;
}
.card-visit .card-visit-info-list {
  display: flex;
  flex-direction: column;
}
.card-visit .card-visit-info-list > :last-child {
  border-bottom: 1px solid teal;
  border-radius: 0 0 10px 10px;
}
.card-visit .card-visit-info-list :nth-child(2) {
  border-radius: 10px 10px 0 0;
}
.card-visit .card-visit-info {
  border: 1px solid teal;
  border-bottom: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 12px;
  color: #999;
}
.card-visit .card-visit-info * {
  padding: 10px;
  font-size: 1rem;
}
.card-visit .card-visit-title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  display: block;
  max-width: 420px;
  transition: 0.25s;
}
.card-visit .card-visit-title:hover {
  color: #008080;
}
.card-visit .card-visit-desc {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: teal;
  margin: 0;
}
.card-visit .card-visit-action {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 20px;
}
.card-visit .card-visit-btn {
  background-color: #008080;
  color: #fff;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  transition: 0.25s;
  opacity: 0.5;
}
.card-visit .card-visit-btn.btn-del {
  background-color: #ec7575;
}
.card-visit .card-visit-btn.btn-more {
  background-color: #1f8fff;
}
.card-visit .card-visit-btn:hover {
  opacity: 1;
}

.card-visit-main-info {
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-visit-main-info div:first-child span {
  font-size: 1.5rem;
}
.card-visit-main-info div:last-child span {
  font-size: 1rem;
}

.cards-filter {
  padding-top: 40px;
}
.cards-filter__header {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #035757;
}

.form-filter {
  border-radius: 20px;
  border: 1px solid #F1F1F1;
  padding: 30px;
  background-color: #ddecec;
}
.form-filter__wrapper {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.form-filter__headers {
  display: flex;
  flex-direction: column;
}
.form-filter__headers-input {
  width: 400px;
}
.form-filter__label {
  margin-bottom: 0;
  color: teal;
  font-family: sans-serif;
}
.form-filter__input {
  padding: 10px 15px;
  border: 1px solid #008080;
  border-radius: 10px;
}
.form-filter__input:focus {
  outline: none;
  box-shadow: 0px 0px 8px #bedcdc;
}
.form-filter__urgency, .form-filter__status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.form-filter__select {
  padding: 10px 15px;
  border: 1px solid #008080;
  border-radius: 10px;
  background-color: #fff;
  color: #003838;
  outline: none;
  cursor: pointer;
}
.form-filter__select:focus {
  outline: none;
  box-shadow: 0px 0px 8px #bedcdc;
}/*# sourceMappingURL=style.css.map */